label {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0 5px;
}

.taskForm {
    padding-top: 10px;
    padding-bottom: 20px;
}

.completed {
    text-decoration: line-through;
}

.taskEdit {
    width: 200px;
}