#content {
    padding-top: 52px;
}

h1 {
    padding-bottom: 20px;
}

.task, .taskForm input:not(.btn) {
    border-radius: 5px;
    border: 1px solid #337ab7;
    margin: 5px 0;
    padding: 5px 0 7px 5px;
}

label {
    width: 200px;
    word-wrap: break-word;
    vertical-align: middle;
    text-align: left;
    margin: 0;
}

.taskForm {
    padding-top: 10px;
    padding-bottom: 20px;
}

.completed {
    text-decoration: line-through;
}

.taskEdit {
    width: 200px;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 1.42857143;
    background-color: #dddddd;
}

.task input:not(.taskEdit), .task i {
    vertical-align: middle;
    margin: 4px 4px;
    cursor: pointer;
}

.task label:hover {
    cursor: text;
}

.task i {
    float: right;
}

#alert {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0px;
    text-align: center;
}

.btn, .btn-primary {
    margin: 0 2px;
}

.taskForm input:not(.btn) {
    width: 70%;
}